<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>


<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>

    </form>
</div>

<div>
    <table border="1">
        <thead>
        <tr>

            <td>Name</td>
            <td>ID</td>
            <td>size</td>
            <td>uploadDate</td>
            <td>md5</td>
            <td>删除</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${files.size()} eq 0">
            <td colspan="3">没有文件信息！！</td>
        </tr>
        <tr th:each="filesEntity : ${files}">
            <td><a th:href="'files/'+${filesEntity.id}" th:text="${filesEntity.name}"/></td>
            <td th:text="${filesEntity.id }"></td>
            <td th:text="${filesEntity.size }/1024  +'kb'"></td>
            <td th:text="${#dates.format(filesEntity.uploadDate,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${filesEntity.md5}"></td>
            <td><a href="javascript:;" th:onclick="handleDelete([[${filesEntity.id}]])">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/footer :: footer}">...</div>
<script>
    function handleDelete(id) {
        $.ajax('/' + id, {type: "DELETE"}, function (data) {
            alert(data);
        })
    }
</script>
</body>
</html>
